:root {
    --apppink: #ff58b4;
    --appblack: #333333;
}

html, body {
    overflow-x: hidden !important;  
}

body {
    background-color: var(--appblack) !important;
    color: whitesmoke !important;
}
.fas,.fa{
    font-size: 30px;
}

.lower-canvas {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
}

.upper-canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
}

.canvas-container {

    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 1px solid whitesmoke;
    width: 70% !important;
    height: auto !important;
    /* box-shadow: 0 0 20px black; */
    margin: 0 auto;
}

#fields {
    margin-top: 10px;
    /* box-shadow: 0 0 10px black; */
    /* border-radius: 30px; */
    padding: 10px;
    overflow-y: auto;
    height: 200px;
}

#fields table td {
    width: 100%;
    color: white !important;
    padding: 10px 0 10px 5px;
    border-top: 1px solid whitesmoke;
}
#cerdiv,#csvdiv,#generatecertificatebtn{
    box-shadow: 0 0 10px black inset;
    cursor: pointer;
    margin-top:10px;
    border-radius: 30px;
    padding-top: 10px;
    height: 50px;
}
.editor {
    margin-top: 10px;    
    padding: 10px;
}

.editoroptions {
    margin-top: 10px;
    padding:10px;
    border-radius: 30px;
    box-shadow: 0 0 20px black inset;
    max-height: 100vh;
}

.btn {
    border-radius: 50px !important;
}

.databackground{
    background-color: var(--appblack);    
    width: 100%;
    position: fixed !important;    
    z-index:10;
    top:0;    
}
.databackground span{
    margin-top: 2rem;
    margin-right: 2rem;
    color:black;
    background-color: white;
    position: fixed;
    right:0;
    z-index: 90 !important;
    box-shadow: 0 0 20px black;
    border-radius: 50%;
    height: 2rem;
    width:2rem;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center !important;    
    cursor: pointer;
}
.csvdata{
    height: 100vh;
    overflow:auto;
}